<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link type="text/css" rel="stylesheet" href="inapp.css">
    <link type="text/css" rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<span class="phoneCase">
<span class="phoneContainer">

    <div id="header">
         <img th:src="'/wallit_w_logo.png'" class="wLogo">
        <p class="headline">Change password</p>
    </div>

        <div class="mainContainer" id="showCardContainer">
            <div class="iconPassword">
                <i class="fa fa-lock"></i>
            </div>

            <form th:action="'/save-changed-password'" th:object="${appUser}" th:method="post">
                <input required type="password" th:field="*{password}" placeholder="Enter new password" class="password">
                  <p class="popupInapp" th:if="${#fields.hasErrors('password')}">Please enter a password.</p>
                 <input required type="password" th:field="*{repeatPassword}" placeholder="Confirm password" class="password"/>
            <p class="popupInapp" th:if="${#fields.hasErrors('repeatPassword')}">Passwords are not a match.</p>
                <input type="submit" value="Save New Password" id="saveNewPasswordButton">
            </form>
        </div>

           <div id="footer">
            <a href="/add-gift-card" class="options"><span><i class="fa fa-plus"></i></span></a>
            <a href="/my-cards" class="options"><span><i class="fa fa-credit-card"></i></span></a>
            <a href="/settings" class="options"><span><i class="fa fa-cog"></i></span></a>
    </div>
</span>
    </span>


</body>
</html>