<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit GiftCard</title>
    <link type="text/css" rel="stylesheet" href="/inapp.css">
    <link type="text/css" rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<span class="phoneCase">
<span class="phoneContainer">

       <div id="header">
         <img th:src="'/wallit_w_logo.png'" class="wLogo">
        <p class="headline">Edit Card</p>
    </div>


        <div class="mainContainer" id="addCardContainer">
            <form th:action="'/save-edited-gift-card/' + ${appUserId} + '/' + ${cardId} " th:object="${giftCard}"
                  method="post">

                <div class="addCardDescription"> Store Name: </div>
                    <div><input class="addCardInput" required ype="text" th:field="*{storeName}"></div>
                <div class="addCardDescription"> Card Code: </div>
                   <div> <input class="addCardInput" required type="number" th:field="*{cardCode}"></div>
                <div class="addCardDescription">Balance: </div>
                    <div><input class="addCardInput" required type="number" th:field="*{balanceInt}"/></div>
                <div class="addCardDescription"> Expiry Date: </div>
                    <div><input class="addCardInput" required type="date" th:field="*{expiryDate}" ></div>

                <input class="addAndEditGiftCardButton" type="submit" value="Save Changes">
            </form>
        </div>

       <div id="footer">
            <a href="/add-gift-card" class="options"><span><i class="fa fa-plus"></i></span></a>
            <a href="/my-cards" class="options"><span><i class="fa fa-credit-card"></i></span></a>
            <a href="/settings" class="options"><span><i class="fa fa-cog"></i></span></a>
       </div>
</span>
</span>

</body>
</html>