<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/all.css">
    <link type="text/css" rel="stylesheet" href="/login_signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<span class="phoneCase">
    <span class="phoneContainer">
        <div class="image">


            <a href="/login" class="backToLogin">← Back to login</a>


            <img th:src="wallit_navn_logo.png" class="wallitLogoInForgotPassword">

            <form method="post" th:action="'/successfully-reset-password'">
                <div id="requestPasswordToken">Request password token</div>
                <div><input id="email" name="email" type="text" placeholder="Email"></div>
                    <div id="warningMessage"></div>
                <div><input class="button" type="submit" value="Send"></div>
            </form>
        </div>
    </span>
</span>

</body>

<script src="script/RequiredWarning.js"></script>
</html>